<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");
        
        socket.on("server-send-number", function(data){
            $("h2").html(data);
        });

    </script>
</head>
<body>
    <h2></h2>
</body>
</html>